streamlit==1.42.2
pandas==2.2.3
plotly==6.0.0
matplotlib
numpy==2.2.3
google-api-python-client
google-auth
google-auth-oauthlib
oauth2client
openpyxl>=3.1.5
pandas>=2.2.3
plotly>=6.0.0
psycopg2-binary>=2.9.10
requests>=2.32.3
streamlit>=1.42.2
trafilatura>=2.0.0
twilio>=9.4.6
streamlit-plotly-events==0.0.6
